name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        run: echo "Tests passed"

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t my-login-app .

      - name: Show container user
        run: |
          container_id=$(docker run -d --name test-container my-login-app tail -f /dev/null)

           echo "Container is running as user: $(docker exec $container_id whoami)"

          docker stop $container_id > /dev/null
           docker rm $container_id > /dev/null


  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to staging
        run: echo "Pretend deployment to staging"
